{% extends 'a_base.html' %}
<!--Contenido  -->
{% block admin %}
<div class="dashboard-content px-3 pt-4">
  <div class="card">
    <div class="card-body">
      <h2 class="fs-3">Administrar Unidad Interna</h2>
      <p class="fs-5">Lista de unidades internas existentes</p>
      <table class="table table-striped ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td><select name="" id="">
                  <optgroup label="">
                    <option value=""></option>
                    
                  </optgroup>
                  <optgroup label="">
                    <option value=""></option>
                    
                  </optgroup>
                </select></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-info">Modificar</button>
      <a href="{% url 'a_admUni' %}" class="bg-primary rounded px-3 py-2 text-white text-decoration-none" >Modificar</a>
      

    </div>
  </div>

  
  
</div><br>


{% endblock %}