{% extends 'd_base.html' %}
<!--Contenido Disenador -->
{% block diseno %}
<div class="dashboard-content px-3 pt-4">
  <div class="card">
    <div class="card-body">
      <h2 class="fs-3">Lista de Flujos de Trabajos</h2><br>
      <p class="fs-5"> Flujos de Trabajos Activos</p>
      <table class="table table-striped ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Flujo</th>
            <th scope="col">Tareas</th>
            <th scope="col">Responsables</th>
            <th scope="col">Fecha Inicio</th>
            <th scope="col">Fecha Fin</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td><select name="" id="">
                  <optgroup label="">
                    <option value=""></option>
                    
                  </optgroup>
                  <optgroup label="">
                    <option value=""></option>
                    
                  </optgroup>
                </select></td>            
            <td><select name="" id="">
                  <optgroup label="">
                    <option value=""></option>
                    
                  </optgroup>
                  <optgroup label="">
                    <option value=""></option>
                    
                  </optgroup>
                </select></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table><br>
      
      <p class="fs-5"> Flujos de Trabajos Inactivos</p>
      <table class="table table-striped ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Flujo</th>
            <th scope="col">Tareas</th>
            <th scope="col">Responsables</th>
            <th scope="col">Fecha Inicio</th>
            <th scope="col">Fecha Fin</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td><select name="" id="">
                  <optgroup label="">
                    <option value=""></option>
                    
                  </optgroup>
                  <optgroup label="">
                    <option value=""></option>
                    
                  </optgroup>
                </select></td>            
                <td><select name="" id="">
                  <optgroup label="">
                    <option value=""></option>
                    
                  </optgroup>
                  <optgroup label="">
                    <option value=""></option>
                    
                  </optgroup>
                </select></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table><br>

    </div>
  </div>
  
</div><br>


{% endblock %}
