{% extends 'f_base.html' %}
<!--Contenido Administrador-->
{% block func %}
<div class="dashboard-content px-3 pt-4">
  <div class="card">
    <div class="card-body">
      <h2 class="fs-3">Tareas Asignadas</h2><br>
      <a> Listado de tareas asignadas</a>
      <table class="table table-striped ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tarea</th>
            <th scope="col">Fecha plazo</th>
            <th scope="col">Asignado por</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
            
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
        
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            
          </tr>
        </tbody>
      </table><br>
      
      

    </div>
  </div>
  
</div><br>


{% endblock %}